/**
  ESTILO DO TEMA
 */
hr {
  margin: 1px 0 0 0;
  border: none;
  border-top: 1px solid;
  opacity: .05;
}
.input-field {
  position: relative;
  margin-top: 1rem;
  flex: 100%;
}
.input-field label {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 1rem;
  cursor: text;
  transition: transform .2s ease-out;
  transform-origin: 0 100%;
  text-align: initial;
  transform: translateY(1em);
  pointer-events: none;
}
input[type=text] + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: .2s opacity ease-out,.2s color ease-out;
}
.input-field input:valid + label,
.input-field input:focus + label {
  transform: translateY(-.5em) scale(.8);
  transform-origin: 0 0;
}
.input-field input:focus + label {
  color: var(--primary-color);
}
input[type=text] {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  font: 11px system-ui;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: 0;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
  line-height: normal;
}
.input-field input:focus {
  box-shadow: 0 1px 0 0 var(--primary-color);
}
.input-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.input-buttons > div {
  white-space: nowrap;
}
.input-buttons > div > * {
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  margin: 0 0 0 .5rem;
  background: #9e9e9e;
  color: #FFF;
  box-shadow: var(--shadow-depth-1);
  transition: box-shadow .3s, opacity .3s, filter .3s;
  border: 0;
}
input, button {
  outline: none;
}
.input-buttons > div > *:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
}

[type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
[type=checkbox]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  user-select: none;
}
[type=checkbox]+label:before, [type=checkbox]:not(.filled-in)+label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 1px;
  margin-top: 2px;
  transition: .2s;
}
[type=checkbox]:checked+label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #26a69a;
  border-bottom: 2px solid #26a69a;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}
[type=checkbox]:not(.filled-in)+label:after {
  border: 0;
  transform: scale(0);
}
/**
  ESTILO DA APLICAÇÃO
 */
main, .card {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.card {
  box-shadow: var(--shadow-depth-1);
  background: #FFF;
  padding: 1rem;
}

.container > *:not(:last-child) {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

main {
  flex: 100%;
  flex-direction: column;
  align-content: center;
  margin: 1rem;
}

#empty-list {
  display: block;
  text-align: center;
  font-size: 2rem;
  transition: transform .3s,
              visibility .3s,
              padding .3s,
              max-height .3s;
}

#list:not(:empty) + #empty-list,
.test + #empty-list,
.hidden {
  transition: transform .3s,
              visibility .3s,
              padding .3s,
              max-height .3s;
  visibility: hidden;
  transform: scale(0);
  max-height: 0;
  padding: 0;
}

#list .card,
#empty-list {
  will-change: visibility, max-height, padding, transform;
}

#list > *:not(:last-child){
  margin-bottom: 1rem;
}

.check-task {
  position: relative;
}
.check-task input{
  z-index: 10;
}

button span {
  margin-left: -4px;
}

.svg-add,
.svg-discard {
  stroke: white;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 2;
  transition: stroke-width .3s;
  will-change: stroke-width;
}

button:disabled {
  opacity: .5;
  filter: brightness(1.2) saturate(0.7);
}

button:not(:disabled):hover path {
  stroke-width: 3;
}

.primary-bg {
  background: var(--primary-color) !important;
}
.white-bg {
  background: white !important;
}